<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>

    <br></br>
    <br></br>

    <div align="center">
        <h2>Bienvenidos a la sección novedades</h2>
    </div>
    <div class="row">
        <div class="col">

            <div align="right">
                <p>¡Hola <b>{{ usuario }}</b>!<a href="/admin/login/logout" class="btn btn-dark">Cerrar Sesión <i
                            class="fa fa-sign-out"></i></a></p>
            </div>
        </div>
    </div>
    <div class="container" style="margin: auto auto">
        <div class="row">
            <div class="col-7">
                <div align="center">
                    <h4>Listado de novedades</h4>
                </div>
            </div>
            <div class="col-2 text-right">
                <div align="center"> <a href="/admin/novedades/agregar" class="btn btn-dark"> <i
                            class="fa fa-plus"></i> Agregar </a> </div>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Título</th>
                            <th scope="col">Imagen</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each novedades}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{titulo}}</td>
                            <td>{{{imagen}}}</td>
                            <td class="text-center">
                                <a href="/admin/novedades/modificar/{{id}}" title="Editar"
                                    class="btn btn-sm btn-secondary"><i class="fa fa-pencil"></i></a>
                                <a href="/admin/novedades/eliminar/{{id}}" title="Eliminar"
                                    class="btn btn-sm btn-secondary"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{#if error}}
                <div align="center">
                    <h4>{{message}}</h4>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</body>

</html>